<!-- build:js(app) /js/script.js -->
<script src="{{ site.baseurl }}/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/_bower_components/jquery.easing/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/_bower_components/wow/dist/wow.min.js"></script>
<script src="{{ site.baseurl }}/_third-party/js/freelancer.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<!-- endbuild -->
