@charset "utf-8";

//$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($min-or-max, $device) {
    @media screen and (nth($min-max, $min-or-max): nth($bs, $device)) {
        @content;
    }
}

@import '_vars', '_nav', '_header', '_footer', '_timings';

// Import partials from `sass_dir` (defaults to `_sass`)
//@import
//        "base",
//        "layout",
//        "syntax-highlighting"
//;

html, body {
    //width: 100vw;
    text-align: center;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #B1A191;
    font-family: $base-font-family;
    background: #CCC1AF;
    background-color: #ccc1af;
    background-image: url(/assets/img/asfalt-dark.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-weight: 300;
}

h1, h2 {
    font-family: $base-font-family;
    color: #777;
    font-weight: 300;
    text-align: center;
    text-transform: none;
}

@include media-query($min, $md){
    h1, h2 {
        //text-align: left;
    }
}

.btn-primary {
    background-color: #000;
}

div > img {
    margin: 0 auto;
}


@include media-query($max, $xs){

}

//@include media-query($min, $xs){
    #wrapper {
        //padding: 0;
        //margin: 0;
        background: url(/assets/img/img-noise-50x50.png) repeat 0 0 #fff;
        //padding-top: 50px;
        border-radius: 4px;
    }
//}

@include media-query($min, $md) {
    #wrapper {
        //position: relative;
        margin-top: 50px;
        padding-top: 70px;
    }
}

.cta {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 12px 20px;
    letter-spacing: 0px;
    box-shadow: 2px 2px 5px #000;
}

#intro {
    position: relative;
    margin-top: 210px;

    .cta {
        bottom: -20px;
    }
}


section.success {
    background: transparent;
}

@include media-query($min, $md){
    #intro {
        margin-top: 400px;
    }
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

section {
    padding: 100px 0 50px;

    h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
}

#intro .cta {
}

#rsvp {
    .email {
        //font-size: 2em;
    }
}